<div class="container">
    <h2> ~ Edit a restaurant ~ </h2>
    <br>
    <form (submit)="editRest()">
        <input type="text" class="form-control col-6 mb-2" name="rest.name" [(ngModel)]="rest.name" 
        required minlength="3" maxlength="24" #name="ngModel"/>
        <div *ngIf="!name.valid" style="color: red">Name must have at least 3 characters </div>

        <input type="text" class="form-control col-6 mb-2" name="rest.cuisine" [(ngModel)]="rest.cuisine"
        required minlength="3" maxlength="64" #cuisine="ngModel"/>
        <div *ngIf="!cuisine.valid" style="color: red">Cuisine must have at least 3 characters </div>

        <a [routerLink]="['/home/']" class="btn btn-secondary"> Cancel</a> <input style="margin-left: 10px" type="submit" class="btn btn-primary" value="Edit"> 
    </form>
</div>
    
